---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content table {
  table-layout: fixed;
  width: 100%;

  th:nth-child(1) { // Property column
    width: 25%;
  }

  th:nth-child(2) { // Type column
    width: 20%;
  }

  th:nth-child(3) { // Description column
    width: 55%;
  }

  td {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

.changelog-entry {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
}

.changelog-entry > *:first-child {
  margin-top: 0;
}

/* Custom overrides for Feedback page */
.page__content h1,
.page__content h2,
.page__content h3,
.page__content h4,
.page__content h5,
.page__content h6 {
  border-bottom: none !important;
}

.page__content {
  border-bottom: none !important;
}